@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* start card colors based on journey progress */
.card.card-flush-in-progress {
  background-color: #FFEEAF;
}

.card.card-flush-unstarted {
  background-color: #AEC6CF;
}

.card.card-flush-completed {
  background-color: #B2AC88;
}
/* end card colors based on journey progress */

/* start card colors based on challenge progress */
.card.card-flush-current {
  background-color: #e49550b4;
}

.card.card-flush-finished {
  background-color: #B2AC88;
}
/* end card colors based on challenge progress */

.card.card-flush-collection {
  background-color: #edadb6bd;
}

/* journey card book cover image sizing */
.card-title.book-cover-image img {
  width: 100px;
}

/* collection card book cover image sizing */
.collections-card-body img {
  width: 100px;
}

/* collection card cover image horizontal scrolling */
.scroll-collection-books {
  overflow: auto;
  white-space: nowrap;
  --kt-scrollbar-color: auto;
}

/* challenge card height */
.challenge-card {
  height: 100%;
}

/* collection card height */
.collection-card {
  height: 90%;
  min-height: 290.25px;
}

/* makes card header and body flush with each other */
.card .card-header {
  border-bottom: none;
}

/* custom google font for site use, matches logo */
.custom-cc-logo-font {
  font-family: 'Chewy', cursive;
  font-size: 18px;
  color: #B2AC88;
}

/* sized book cover search result image */
.book-image-search-result {
  width: 90px;
}

/* sets color on book search result cards */
.search-book-card {
  background-color: rgba(243, 246, 249);  
}

/* makes book search results scrollable */
.book-results-list {
  overflow: auto;
  max-height: 325px;
}
